.mbsc-mobiscroll .dwfl {
    padding: 0 0 0 1px !important;
    border-right: 1px solid #e2e2e2;
}

.mbsc-mobiscroll .dwwr {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
}

.mbsc-mobiscroll .dwwol {
    border: none;
    background: #F4F4F8;
}

.mbsc-mobiscroll .dwc {
    padding: 0;
}

.dwcc {
    border-bottom: 1px solid #e2e2e2;
}

.dw-persp {
    height: 100% !important;
}

.dwo {
    background: rgba(0, 0, 0, 0);
}

.mbsc-mobiscroll .dw-li {
    color: #828297;
    font-size: 14px;
}



.dwcc div.mbsc-w-p:nth-child(2) .dwfl:nth-child(1) {
    border: none;
}
.dwcc div.mbsc-w-p:nth-child(2) .dwfl:nth-child(2) {
    display: none;
}

.dw-i {
    text-align: left;
}

.dwfl .dwwol::before {
    position: absolute;
    right: 10px;
    top: 11px;
    color: rgba(130, 130, 151, 1);
    font-size: 14px;
    font-weight: bold;
    font-family: PingFangSC-Medium;
}

.dwfl:nth-child(2) .dwwol::before {
    content: '\6708';
}

.dwfl:nth-child(1) .dwwol::before {
    content: '\5e74';
}

.dwfl:nth-child(3) .dwwol::before {
    content: '\65e5';
}

.dwcc div.mbsc-w-p:nth-child(2) .dwfl:nth-child(1) .dwwol::before {
    content: '\70b9\949f';
}
.dwcc div.mbsc-w-p:nth-child(2) .dwfl:nth-child(2) .dwwol::before {
    content: '\5206';
}

.dw-sel {
    color: #393953 !important;
    font-weight: bold;
}

body {
    background: #ECECF3;
}

.dwb-c {
    display: none !important;
}

.dw-arrw {
    display: none;
}

.dwbw .dwb {
    margin: 6px;
    padding: 0;
    width: 44px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    color: #828297;
    font-size: 12px;
    text-align: center;
    background-color: rgba(65, 134, 220, 1);
    color: #fff;
}
.dwbc{
    padding: 0!important;
}
.dwb-n.dwbw{
    float: left !important;
}
.dwb-n.dwbw .dwb{
    background-color: rgba(244, 244, 248, 1);
    border: 1px solid rgba(236, 236, 244, 1);
    color: #828297  ;
}
.dw-bubble .dw {
    margin-top: 0;
}