/*公共样式*/
/*清除浮动*/
.clear{
    zoom:1;
}
.clear:after{
    content:'\20';
    display:block;
    height:0;
    clear:both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/*开关*/
.switch .switch-btn{
    width: 24px;
    height: 16px;
    opacity: 0.4;
    border-radius: 100px;
    background-color: rgba(130, 130, 151, 1);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
}
.switch.active .switch-btn{
    opacity: 1;
    background-color: rgba(65, 134, 220, 1);
}
.switch.active .switch-btn i{
    top: 2px;right: 2px;
    left: auto;
}
.switch .switch-btn i{
    transition: .5s;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 2px;left: 2px;
}

/*按钮*/
.btn{
    height: 28px;
    line-height: 28px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding:0 10px;
    border-radius: 2px;
    border:none;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-family: PingFangSC-Semibold;
}
.btn-default{

}
.btn-primary{
    background-color:#4186DC;
    color:#FFFFFF;
}
.btn-success{

}
.btn-info{

}
.btn-warning{

}
.btn-danger{
    background-color: #DD5B4B;
}

/*日期组件*/
.data-module{
    width:180px;
    height:32px;
    line-height:32px;
    box-shadow: 1px 0px 0px 0px rgba(236, 236, 244, 1);
    position:relative;
    padding:0 10px;
}
.data-box{
    width:100%;
    height:100%;
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
.data-module i{
    color:#828297;
    float: right;
}

/*下拉框*/
.selectBox{
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(236, 236, 244, 1);
    background-color: rgba(255, 255, 255, 0);
}
.selectBox .select-box-header{
    width:100%;
    height:100%;
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
.selectBox .select-box-header i{
    float:right;
    margin:0;
}

/*自定义选框开始*/

.bella-checkbox{
    position: relative;
}
/** 将初始的checkbox的样式改变 */
.bella-checkbox input[type="checkbox"] {
    opacity: 0; /*将初始的checkbox隐藏起来*/
}

/** 设计新的checkbox，位置 */
.bella-checkbox label:before {
    content: '';
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

/** 点击初始的checkbox，将新的checkbox关联起来 */
.bella-checkbox input[type="checkbox"]:checked + label:after {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    top: 15%;
    left: 10%;
    position: absolute;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

.bella-checkbox label {
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 10px;
}

/*自定义选框结束*/
/*表格外边框开始*/
.fixed-table-container{
    border-radius: 2px;
}
/*表格外边框开始*/
.body-bg{
    width:100%;
    height:100%;
    background-color:#ECECF3;
}
.header{
    width: 100%;
    height: 52px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right:16px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(130, 130, 151, 0.1);
}
.header .tab-ul{
    float:left;
}
.header .tab-ul li{
    float:left;
    height:52px;
    line-height:50px;
    margin-left: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
.header .tab-ul li.active{
    color: rgba(57, 57, 83, 1);
    border-bottom: 2px solid #393953;
}
.header .tab-ul li:hover{
    border-bottom: 2px solid #393953;
}
.header ol .right-info{
    height:52px;
    line-height:52px;
    float:right;
}
.header ol li .selectBox{
    height: 28px;
    line-height: 26px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    text-align: left;
    border: 1px solid rgba(236, 236, 244, 1);
    font-family: PingFangSC-Semibold;
    margin-right:8px;
    vertical-align: middle;
}
.header ol li .search-box{
    width: 120px;
    height: 28px;
    line-height: 26px;
    padding:0 8px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    color: rgba(57, 57, 83, 1);
    text-align: left;
    border: 1px solid rgba(236, 236, 244, 1);
    font-family: PingFangSC-Semibold;
}
.search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity: 0.6;
    color: rgba(130, 130, 151, 1);
}
.search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 0.6;
    color: rgba(130, 130, 151, 1);
}
.search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 0.6;
    color: rgba(130, 130, 151, 1);
}
.search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.6;
    color: rgba(130, 130, 151, 1);
}
#second-bar{
    width: 100%;
    height: 32px;
    background-color: rgba(244, 244, 248, 1);
    box-shadow: 0px 1px 0px 0px rgba(130, 130, 151, 0.1);
}
#second-bar .filter-item{
    float:left;
    height: 100%;
}
#second-bar .filter-item .yj-demo-time .yj-date{
    width: 180px;
    height: 32px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 1px 0px 0px 0px rgba(236, 236, 244, 1);
}
#second-bar .filter-item .yj-demo-time .yj-date i{
    height:32px;
    line-height: 30px;
}
#second-bar .filter-item .selectBox{
    min-width:100px;
    height:32px;
    line-height:32px;
    -webkit-box-shadow: 1px 0 0 0 rgba(236, 236, 244, 1);
    -moz-box-shadow: 1px 0 0 0 rgba(236, 236, 244, 1);
    box-shadow: 1px 0 0 0 rgba(236, 236, 244, 1);
    border:none;
}

.content{
    width:89.29%;
    margin:24px auto 50px;
    background:#FFF;
}
.table thead tr{
    height:40px;
    line-height: 40px;
    background-color:#F4F4F8;
    -webkit-box-shadow: 0 1px 0 0 #DDDDE5;
    -moz-box-shadow: 0 1px 0 0 #DDDDE5;
    box-shadow: 0 2px 0 0 #DDDDE5;
}
.table thead tr th{
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    text-align: left;
    font-family: PingFangSC-Medium;
}
.table thead th input[type="checkbox"]{
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: rgba(244, 244, 248, 1);
    border: 1px solid rgba(130, 130, 151, 0.2);
}
.table tbody tr{
    height:32px;
    line-height:32px;
}
.table tbody tr .bs-checkbox{
    height:32px;
    line-height:32px;
    vertical-align: middle;
}
.table tbody tr .bs-checkbox input{
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: rgba(244, 244, 248, 1);
    border: 1px solid rgba(130, 130, 151, 0.2);
}

/* 全局固定底部 */
.winFooterBox {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    overflow: hidden;
    padding: 8px 12px;
}
.winFooterBox span{
    color: rgba(130, 130, 151, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    padding: 8px 0;
    float: left;
}

.winFooterBox .btnSubmission{
    color: #fff;
    background: #4186DC;
}

.winFooterBox button {
    outline: none;
    border-right: 3px;
    padding: 8px 16px;
    background: #F4F4F8;
    border: 1px solid #ECECF4;
    float: right;
    margin-right: 10px;
    color: #AFAFBE;
}

